.gradient-custom {
    /* Fallback for old browsers */
    background: rgb(220, 59, 102);
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(220, 59, 102), rgb(120, 0, 30));
    
    /* W3C, IE 10+/Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(220, 59, 102), rgb(120, 0, 30));
}
